<div id="popup1" class="overlay1">
    <div class="popup" style="width:60%;">
        <h2>Име на курса</h2>
        <p> За кого е подходящ курса</p>
        <ul class="mt-1 mb-1">
            <li>100 видеа</li>
            <li>10 часа времетраене</li>
            <li>5 тест</li>
        </ul>
        <a class="close" href="#sameplace">&times;</a>
        <div class="content">
            <i>Съдържание на курса.</i>
            <ol class="mainSection">
                <li>
                    Работа с многомерни и асоциативни структури от данни
                    <ol>
                        <li>Dump in bowl</li>
                        <li>Stir with whisk</li>
                    </ol>
                </li>
                <li>
                    Създаване на линейни структури от данни
                    <ol>
                        <li>Dump in bowl</li>
                        <li>Stir with whisk</li>
                    </ol>
                </li>
                <li>
                    Прилагане на базови алгоритми
                    <ol>
                        <li>Dump in bowl</li>
                        <li>Stir with whisk</li>
                    </ol>
                </li>
                <li>
                    Прилагане на функционалното програмиране
                    <ol>
                        <li>Dump in bowl</li>
                        <li>Stir with whisk</li>
                    </ol>
                </li>
                <li>
                    Работа с потоци от данни, файлове и директории
                    <ol>
                        <li>Dump in bowl</li>
                        <li>Stir with whisk</li>
                    </ol>
                </li>
                <li>
                    Работа с потоци от данни, файлове и директории
                    <ol>
                        <li>Dump in bowl</li>
                        <li>Stir with whisk</li>
                    </ol>
                </li>
                <li>
                    Работа с потоци от данни, файлове и директории
                    <ol>
                        <li>Dump in bowl</li>
                        <li>Stir with whisk</li>
                    </ol>
                </li>

            </ol>


        </div>
    </div>
</div>