<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3" id="two">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2>За автора на сайта.</h2>
            <p class="lead">Снимка, представяне, опит и уточняване на това, че съм автор на сайта и курсовете и че съм водил обучения и курсове.</p>
            <img src="/pictures/myResume/Picture.jpg" />
        </div>
    </div>
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2>Защо да избереш сайта</h2>
            <p class="lead">Спестява време и средства за обучение. Ако вие сте поели по пътя на инженерството. Това е вашия перфектен самоубочител. Възползвайте се от нашите страхотни курсове по еди какво си. Подробни курсове за всички нива и т.н.</p>
        </div>
    </div>
</div>