<div id="mySidenav" class="sidenav">
    <a href="#zero" id="first">
        Начало
        <i class="fa-solid fa-1"></i>
    </a>
    <a href="#two" id="second">
        Автор
        <i class="fa-solid fa-2"></i>
    </a>
    <a href="#three" id="third">
        Класация
        <i class="fa-solid fa-3"></i>
    </a>
    <a href="#four" id="fourth">
        Контакти
        <i class="fa-solid fa-4"></i>
    </a>
</div>