<div class="album p-3 p-md-5 m-md-3 text-center bg-light" id="three">
    <div class="my-3 py-3">
        <h2>Топ курсове (Да се добави линк за запознаване с премиум пакет)</h2>
         <a class="btn btn-warning" asp-area="" asp-controller="Courses" asp-action="All">Всички курсове</a>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow">
                    <img src="~/pictures/test/solidworks-social_12.jpg" height="300" />

                    <div class="card-body">
                        <p class="card-text">Курс SolidWork за начинаещи. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img src="~/pictures/test/solidworks-social_12.jpg" height="300" />

                    <div class="card-body">
                        <p class="card-text">Курс SolidWork за напреднали.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow">
                    <img src="~/pictures/test/solidworks-social_12.jpg" height="300" />

                    <div class="card-body">
                        <p class="card-text">Курс SolidWork за професионалисти.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
